/*
  Basic.css
*/

table {
    margin-top: 1em;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0.25em 1em;
}

h1 {
  background-color: rgb(234, 232, 136);
  padding: 40px;
}

h1 {
  font-weight: lighter;
  width: 350px;
  margin: 0 auto;
}

h1 span {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  width: 40%;
}
